<footer class="footer">
	<p>
		Hosted in <a href="https://github.com/" target="_blank">GitHub Pages</a> &copy; 2020-{{ helpers.currentYear() }} - Jorge Gómez. All rights reserved.
	</p>
	<p>
		<a class="footer__linkbadge" href="https://validator.w3.org">
			<img class="footer__badge" src="{{ "/assets/images/html5.png" }}" alt="HTML 5" />
		</a>
		<a class="footer__linkbadge" href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" rel="license">
			<img class="footer__linkbadge" src="{{ "/assets/images/ccbyncsa.png" }}" alt="Creative
			Commons Reconocimiento-No Comercial-Compartir Igual" />
		</a>
		<a class="footer__linkbadge" href="https://jekyllrb.com">
			<img class="footer__linkbadge" src="{{ "/assets/images/jekyllrb.png" }}" alt="Jekyll" />
		</a>
		<img class="footer__linkbadge" src="{{ "/assets/images/hacker.png" }}" alt="Hacker" />
	</p>
</footer>
