<header class="header">
	<div class="header__container">
		<a class="header__brand" href="/">
			<picture>
				<img class="header__icon" src="/assets/images/jgcarrillo.png" alt="jgcarrillo" />
			</picture>
		</a>
	</div>
</header>
