<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ "/assets/images/jgcarrillo.svg" }}" type="image/x-icon" sizes="16x16" />

  <title>{{ title }} &middot; JGCarrillo</title>

  {% include 'partials/seo.njk' %}

  <link rel="stylesheet" href="/assets/css/styles.css" />

  <!-- Google Font -->
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap" rel="stylesheet" />

</head>
